@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

h1 {
    font-family: "Montserrat", "sans-serif";
    font-size: 60px;
    text-align: center; 
    margin-top: 15%;
    color: #fff;
    font-weight: 900;
}

span{
    color: black;
    font-size: 80px;

}

p{
    text-align: center;
    margin-top: -20px;
    font-size: 18px;
    letter-spacing: 2px;
}

body {
    /* background: linear-gradient(90deg, #00d2ff 30%, #3a47d5 100%); */
    background: linear-gradient(-90deg, red, yellow);
    color: #fff;
}

button {
    margin: auto;
    display: block;
}

.btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.6em;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.2em 2.5em;
    cursor: grab;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat";

}

.btn:hover{
    color: #fff;
    outline: 0;
}

.lco{
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.lco:hover{
    box-shadow: 0 0 40px 10px #1f1f1f inset;
    /* x value, y val, blur- radius, shadow-radius color  , inset= means inside
    other wise outside effect*/
}

.footer {
    background-color: #1f1f1f;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body{
        background : pink;
    }
    
    h1 {
        font-size: 40px;
    }

    span {
        font-size: 60px;
    }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
    body{
        background : cyan;
    }
    
    h1 {
        font-size: 20px;
    }

    span {
        font-size: 40px;
    }
}



















